<!DOCTYPE html>
	<head>

	</head>
	<body>
		<button type="button" onclick="calculate();">Click here</button>
		<h1 id="output"></h1>
		<script>
			function caluculate(){
				var maximum;
				var firstNumber;
				var secondNumber;
				var thirdNumber;
				var number1;
				var number2;
				var nubmer3;
				firstNumber = prompt("Type the first number");
				secondNumber = prompt("Type the second number");
				thirdNumber = prompt("Type the third number");

				number1 = parseInt(firstNumber);
				number2 = parseInt(secondNumber);
				nubmer3 = parseInt(thirdNumber);

				van maximum = math.max(number1,number2,nubmer3);
				document.write("<h1>The biggest number is " + maximum + "</h1>")
			}
		</script>